body
{
    background-color: antiquewhite;
    text-align: center;
    text-decoration: black;
}

.travel_mainDiv {
    border: 3px solid skyblue;
}

.travel_mainDiv img{
    width: 100%;
}

.travel_mainDiv h5 , .travel_mainDiv p {
    margin:20px;
}